.modal-header {
    height: 74px;
    background-image: url("http://cdn.monerointegrations.com/background.png");
    background-repeat: repeat-x;
}
.logo-xmr img {
    margin-top: 6px;
}

span.logo-xmr {
    float: left;
}

/*span.xmr-payment-text-header {
    float: left;
    margin-left: 16px;
    color: #fff;
}
*/
.modal-body {
	text-align: center;
}

.xmr-label {
    font-size: medium;
	font-weight: bold;
}

.xmr-amount-box {
    background-color: #fff;
    padding-top: 8px;
	padding-bottom: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
	width: 45%;
}

.xmr-box {
    background-color: #666;
    padding-top: 8px;
	padding-bottom: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: #666;
    color: #fff;
	width: 25%;
}


.xmr-address-box {
    word-wrap: break-word;
	background-color: #fff;
    padding: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
}

.xmr-integrated-address {
    float: left;
}

.xmr-integrated-address-box {
    word-wrap: break-word;
    background-color: #fff;
    padding: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
}
.xmr-qr-code-box img {
    width: 75%;
    
}

.xmr-qr-code-box {
    width: fit-content;
    padding: 8px;
    border-color: #ccc;
    border-style: solid;
    border-width: 1px;
	background-color: #fff;
}
.modal-footer {
	background-color: #ed6e24;
    color: #fff;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
	font-size: 0.8rem;
    border-radius: 0px 0px 0px 0px;
}